<div class="container-fluid">
    <div class="row mt-30 pd-l-20"><div class="col-12"><span class="bread">Nido de agua / <b>Simulador</b></span></div></div>
    <div class="d-flex justify-content-center align-items-center pd-t-30">
        <div style="width: 400px; padding: 30px;">
            <div class="row">
                <div class="col-12 " style="text-align: center;">
                    <div><span class="text-simula">Simula tu financiación y elige tu plan</span></div>
                    <div style="margin-top: 8px;"><span class="text-cuota">Calcular tus cuotas</span></div>
                </div>
            </div>

            <div class="row mt-30">
                <div class="col-10"><span class="text-pres">¿Cúal es tu presupuesto para invertir?</span></div>
                <div class="col-2 d-flex justify-content-end align-items-center"><img style="scale:1.3" src="../../../assets/icons/tooltip.svg" placement="top" ngbTooltip="Presupuesto"></div>
                <div class="col-12 group-input">
                    <input type="number" placeholder="$0" class="input-shares" [(ngModel)]="inversion" (ngModelChange)="calculateValues()" >
                    <div class="input-icon icon-right d-flex justify-content-center align-items-center">
                        <div class="mr-10"><img src="../../../assets/icons/line.svg" alt=""></div>
                        <div>
                            <div class="d-flex justify-content-center align-items-center"><span class="number-share">100</span></div>
                            <div class="d-flex justify-content-center align-items-center"><span class="share-text">Units</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-10">
                <div class="col-10"><span class="text-pres">¿Tiempo pago de inversión?</span></div>
                <div class="col-2 d-flex justify-content-end align-items-center"><img style="scale:1.3" src="../../../assets/icons/tooltip.svg" placement="top" ngbTooltip="Tiempo"></div>
                <div class="col-6 col-s-6 button-know" *ngFor="let e of options" [ngClass]="{active: tiempo === e.id}" (click)="selectOption(e)">
                        <a class = "link-tiempo" style="text-decoration: none;" target="_blank" rel="noreferrer">
                            <span class="text-skill" [ngClass]="{activeText: tiempo === e.id}">{{e.nombre}}</span>
                        </a>
                </div>
            </div>

            <div class="row mt-15" *ngIf="tiempo === 1">
                <div class="col-12 custom-slider">
                    <ngx-slider [(ngModel)]="month" [options]="optionsS" (userChange)="onChangeMonth($event)"></ngx-slider>
                </div>
                <div class="col-12" style="text-align: center;margin-top: -5px;"> <span class="months-text">Meses</span></div>
            </div>

            <div class="row mt-15">
              <div class="col-10"><span class="text-proye">Proyección de inversión</span></div>
              <div class="col-2 d-flex justify-content-end align-items-center"><img src="../../../assets/icons/down.svg"></div>
            </div>

            <div class="row mt-15">
              <div class="col-12 container-card">
                <div class="row" *ngIf="tiempo === 1">
                  <div class="col-1 d-flex justify-content-end align-items-center" style="padding:0">
                    <a *ngIf="start !== 0"(click)="left()"><img src="../../../assets/icons/left.svg" alt=""></a>
                  </div>
                  <div class="col-10 around-justify">
                    <a *ngFor="let e of months" (click)="clickMonth(e)">
                      <span class="text-option" [ngClass]="{activeTextCard: month === e.value}">{{e.value}} {{e.index === 1 ? 'mes': 'meses'}}</span>
                    </a>
                  </div>
                  <div class="col-1 d-flex justify-content-start align-items-center" style="padding:0">
                    <a *ngIf="start <= 1"(click)="right()"><img src="../../../assets/icons/right.svg" alt=""></a>
                  </div>
                </div>

                <div class="col-12 mt-30" style="text-align: center;">

                  <div *ngIf="month === 1 && tiempo === 1">
                    <img src="../../../assets/icons/recomendado.svg" alt="">
                  </div>

                  <div style="margin-top:30px"><span class="card-unit">100 Unit</span></div>
                  <div>
                    <span class="monthly">{{copMes | currency:'USD':'symbol':'1.0-0'| replace:',':'.'  }} </span>
                    <span class="monthly cop"> COP/mes</span>
                  </div>
                  <div class="mt-20 d-flex justify-content-center align-items-center">
                    <div>
                      <span class="text-value-unidad">Valor de Unidad:</span>
                      <span class="text-value-unidad valor"> {{valorUnidad | currency:'USD':'symbol':'1.0-0'| replace:',':'.'  }}</span>
                    </div>
                    <img style="scale:1.1;margin-left: 7px;" src="../../../assets/icons/tooltip_dark.svg" placement="top" ngbTooltip="Valor Unidad">
                  </div>
                  <div>
                    <span class="text-value-unidad">Rentabilidad:</span>
                    <span class="text-value-unidad valor"> {{rentabilidad}}%</span>
                    <img style="scale:1.1;margin-left: 7px;" src="../../../assets/icons/tooltip_dark.svg" placement="top" ngbTooltip="Rentabilidad">
                    <div class="mt-20"><span class="terminos-inv">Ver términos y condiciones</span></div>
                  </div>

                <div class="row mt-30" style="margin-bottom: 20px;">
                  <div class="col-12 d-flex justify-content-center">
                      <button type="submit" class="btn-registrarse mw-140"><span class="text-btn">Invertir ahora</span></button>
                  </div>
              </div>
              </div>
            </div>
        </div>
    </div>


</div>
