.myprogressbar{
    background-color: var(--backgroundColor) !important;
    border-radius: 0 !important;
    max-height: 3px;
}

.progress-bar{
    background: #000000 !important;
    //border-radius: 0px 8px 8px 0px !important;
}
